.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.timerLogo {
  display: flex;
  justify-content: center;
  scale: 1.5;
}

.heading {
  filter: drop-shadow(0 0 3px rgb(206, 223, 11));
  font-size: 3rem;
}

#subHeading {
  color: rgb(22, 7, 81);
  font-weight: 900;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .home {
    position: absolute;
    top: 10px;
  }
  .heading {
    font-size: 2.5rem;
  }

  .timerLogo {
    width: 250px !important;
    height: 175px !important;
  }

  .timerLogo canvas {
    width: 250px;
    height: 250px;
    scale: 0.7;
  }
}
