@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app {
  height: 100vh;
  background-image: linear-gradient(to bottom left, rgb(219, 78, 102), #0f31f2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: white;
}
